@import url("https://fonts.googleapis.com/css?family=Montserrat|Sen&display=swap");

body {
  font-family: "Sen", sans-serif;
  background-color: #8bc5db2c;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title title"
    "addbook addbook"
    "library library";
}

.booksubm {
  padding: 10px 20px;
  grid-area: addbook;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.booksubm label,
.booksubm p {
  font-size: 1.2em;
  text-decoration: underline;
  padding: 5px 0;
}

.booksubm input {
  background-color: #ffffff;
  border-color: #b345d4;
  border-radius: 5px;
}

.booksubm input:active {
  background-color: #ffffff;
  border-color: #b345d4;
  border-radius: 5px;
}

.pagetitle {
  grid-area: title;
  font-size: 2em;
  text-align: center;
  align-self: flex-start;
  padding-top: 5vh;
}
.pagetitle span {
  color: #b345d4;
}

.addbook {
  font-size: 1em;
  color: #ffffff;
  text-align: center;
  width: 100px;
  padding: 5px 5px;
  border: solid;
  border-width: 1px;
  border-color: #3404424b;
  background-color: #340442;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.25s;
}

.addbook:hover {
  background-color: #eed6f6;
  border-color: #ffffff00;
  color: #000000;
}

.booksubm .yesno {
  text-decoration: none;
}

.radiobutton {
  margin-right: 5px;
}

.library {
  padding: 10px 20px;
  grid-area: library;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

.card {
  background-color: #ffffff;
  border: solid;
  border-width: 1px;
  border-color: #b345d4;
  border-radius: 5px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}

.title,
.author,
.category,
.read {
  text-align: center;
  padding: 5px 0;
}
.image {
  display: block;
  margin: 0 auto;
  grid-area: title;
  align-self: flex-end;
  max-width: 50%;
  margin-top: 15vh;
}

@media (min-width: 700px) {
  .grid {
    grid-template-areas:
      "addbook title"
      "library library";
  }

  .image {
    max-width: 80%;
  }
}
